    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo+2&display=swap');


    * {
        margin: 0;
        padding: 0;
        border: none;
    }

    body {
        font-family: 'Alegreya', sans-serif;
        font-weight: 300;
        color: #3a3a3a;
    }

    /*heading and logo*/

    h1,
    h2 {
        font-family: 'Exo 2', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #252525;

    }

    #logo {
        float: left;
        font-size: 280%;
        margin-left: 30px;
    }

    #our-job {
        text-align: center;
        padding-top: 5%;
        width: 100%;
    }

    /* navigation links*/

    #menu {
        font-size: 100%;
        letter-spacing: 1px;
        display: flex;
        justify-content: flex-end;

    }

    #menu li {

        list-style-type: none;
        margin-right: 30px;
        margin-top: 20px;

    }

    #menu a {
        text-decoration: none;
        color: inherit;
        white-space: nowrap;
    }

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .active {
        border-bottom: 1px solid #3a3a3a;
    }

    /*hero image*/

    #hero-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
    }

    #hero-image {
        z-index: -1;
        height: 600px;
        width: 100%;
        background: url('../images/hero.jpeg') no-repeat center center;
        background-size: cover;
        /*animation effect and loading page*/

        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    /*creates level of zoom for hero image*/

    @keyframes hero-zoom {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }

    /*style button Get A Quote*/

    #quote-button {
        background-color: rgb(79, 165, 161);
        width: 200px;
        height: 40px;
        font-size: 200%;
        font-family: 'exo 2', sans-serif;
        text-decoration: none;
        color: #3a3a3a;
        z-index: 9;
    }

    /*special features section*/

    .features {
        min-height: 400px;
    }

    /*style icon-container*/

    .icon-container {
        text-align: center;
        font-size: 30px;
        margin: 20px;
    }

    .title-container {
        text-align: center;
    }

    #wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        letter-spacing: 2px;

    }

    .feature-container {
        padding: 40px 20px;
        border: 1px solid rgb(0, 0, 0, 0.1);
        width: 300px;
        height: 150px;
    }

    /*Style the section title*/

    #welcome {
        text-align: center;
        margin: 50px 0;
        font-size: 280%;
    }

    /*Feedbacks image styling */

    #feedbacks {
        background-image: url('../images/feedbacks.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        width: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-size: cover;
    }

    #feedbacks div {
        color: #fafafa;
        background-color: rgba(0, 0, 0, .6);
        width: 300px;
        height: 300px;
        padding: 30px 0 0 10px;
        text-align: center;
        border: 2px solid white;
        box-sizing: border-box;
        padding-top: 80px;
    }

    #feedbacks h2 {
        color: #fafafa;

    }

    #trustpilot-logo {
        text-align: center;
        color: rgb(79, 165, 161);
    }

    #feedback-title {
        text-align: center;
        padding: 30px;
    }

    /* footer styling */

    footer {
        height: 200px;
    }

    .social {
        text-align: center;
    }

    .social>li {
        display: inline;
    }

    .social i {
        font-size: 200%;
        margin: 1%;
        padding: 5%;
        color: rgb(79, 165, 161);
    }

    /*Style Services page*/


    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        width: 300px;
        height: 300px;
        margin: 5px;
        border: 6px double black;
        border-radius: 50%;

    }

    #services {
        width: 100%;
        min-height: 100vh;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 5%;
        column-count: 3;
        margin: 0 auto;
        background: rgb(181, 245, 242);


    }

    #services h2 {
        text-align: center;
        color: rgb(79, 165, 161);
        padding: 20px;
    }

    #services div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* media queries*/

    /* For larger to medium screens size from 1200px wide and down */
    @media screen and (max-width: 1200px) {
        .features {
            width: 65%;
            margin: 0 auto;
        }

        #welcome {
            padding: 30px 0;
            margin: 0;
        }

        hr {
            display: none;
        }


    }


    /* For medium screen sizes from 950px wide and down */
    @media screen and (max-width: 950px) {
        #menu {
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }

        .features {
            width: 90%;
            margin: 0 auto;
        }

        #cover-text {
            left: 0;
        }

        #services {
            column-count: 2;
        }
    }



    /* For small screens sizes 800px and down*/

    @media screen and (max-width: 800px) {


        .title-container .icons {
            display: block;

        }
    }

    @media screen and (max-width: 500px) {
        #menu {
            text-align: center;
        }

        #hero-image {
            background-color: rgb(79, 165, 161);
        }

        .icons {
            text-align: center;
            display: flex;
            column-count: 1;
        }

        #services {
            column-count: 1;
            float: right;

        }

        .social {
            text-align: center;
        }

    }

    /* Form */

    .form-section {
        clear: both;
        background-image: url('../images/form.jpeg');
        background-size: cover;
        background-position: center;
        height: 900px;

    }


    .sign-in {
        margin: 150px 10% 0 0;
        color: #fff;
        background-color: rgba(79, 165, 161, 0.6);
        max-width: 400px;
        position: absolute;
        left: 10%;
        padding: 30px;

    }

    .sign-in>h3 {
        color: #fafafa;
        margin-bottom: 20px;
        text-align: center;
    }

    .text-input {
        color: rgb(33, 104, 100);
        width: 100%;
        margin-bottom: 25px;
        border: 1px solid #fafafa;
        border-radius: 2px;
        height: 20px;
    }

    .text-input:hover {
        border-color: rgb(33, 104, 100);
    }

    #message {
        color: rgb(79, 165, 161);
        width: 100%;
        border-radius: 2px;
        padding-bottom: 50px;

    }

    .send-button {
        margin-top: 20px;
        border-radius: 2px;
        padding: 15px 32px 15px 32px;
        text-align: center;
        font-size: 100%;
        color: #fafafa;
        display: block;
        background-color: rgb(33, 104, 100);
    }

    .send-button:hover {
        color: yellow;
    }

    .thank-you {
        background-color: rgb(79, 165, 161);
    }

    .thank-you>div {
        padding: 250px;
        font-size: xxx-large;
        font-family: cursive;
        color: white;
        text-align: center;

    }