@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo+2&display=swap');


* {margin:0;
padding:0;
border: none;}

body {font-family :'Alegreya' ,sans-serif;
font-weight: 300;
color: #3a3a3a}

/*heading and logo*/

h1, h2 {
    font-family:'Exo 2' ,sans-serif ;
    text-transform: uppercase;
    letter-spacing : 3px;
    color: #252525;

}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
/* navigation links*/

#menu {font-size: 100%;
letter-spacing: 3px;}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;;
}
#menu a{ 
    text-decoration: none;
    color: inherit;

}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active { border-bottom: 1px solid #3a3a3a;}

/*hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
 background-size :cover;
 /*animation effect and loading page*/

animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;}

/*creates level of zoom for hero image*/

@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*style button Get A Quote*/

.container {
    display: block;
    background-color: rgb(250, 220, 120);
    border: 1 px solid black;
    border-radius: 10px;
    top: 80%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 60px;
    text-transform: uppercase;
  
}

#button {
  position: relative;
  font-size: 200%;
  font-family : 'exo 2', sans-serif ;
  margin: auto;
  position: absolute;
  bottom: 10px;
 

  
}
#button:hover {
    background: #2079b0;
    text-decoration: none;
  }

  .container a {
    text-decoration: none;
    color: #3a3a3a;
  }

  /*special features section*/

#feature{
    height: 600px;
} 

#left-about {
    padding-top: 30px;
    width:33%;
    float: left;
    
}
#right-about {
    padding-top: 30px;
    width:33%;
    float: right;
}

#center-about {
    width:33%;
    margin: 0 auto
}


/*left-about styling*/

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/*right-about styling*/

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading h3 {
    text-align: right;
}
.right-about-heading p {
    text-align: right;
}

/*center -about styling*/

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin:0 auto;
}
#circle-cover-bg {
    background: url('../images/feat.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}